<section>
    <div class="align-items-center bg-opacity-75">
        <div class="container py-5">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="container py-3">
                        <img src="" class="img-fluid border rounded-3 shadow" />
                    </div>
                    <h2>Heading</h2>
                    <p>A Paragraph</p>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="container py-3">
                        <img src="" class="img-fluid border rounded-3 shadow" />
                    </div>
                    <h2>Heading</h2>
                    <p>A Paragraph</p>
                </div>
            </div>
        </div>
    </div>
</section>