<section>
    <div class="align-items-center bg-opacity-75 bg-white text-dark">
        <div class="container py-2">
            <div class="row align-items-center">
                <div class="col-12 col-sm-9 col-md-10">
                    <h3 class="fw-bold">Service Title</h3>
                    <p>Service Description</p>
                </div>
                <div class="col-12 col-sm-3 col-md-2 text-center order-sm-first">
                    <img src="" class="mb-3 img-fluid" style="max-height: 64px;" />
                </div>
            </div>
        </div>
    </div>
</section>