<section>
    <div class="bg-white text-dark">
        <div class="row align-items-center">
            <div class="col-4 bg-dark text-white">
                <div class="row align-items-center" style="height:25vh;">
                    <div class="col text-center">
                        <h2 class="">Heading 2</h2>
                        <p class="">The new Paragraph</p>
                    </div>
                </div>
            </div>
            <div class="col-8 bg-white text-dark">
                <div class="row align-items-center" style="height:25vh;">
                    <div class="col text-center">
                        <h2 class="h1">Heading 2</h2>
                        <p class="">The new Paragraph</p>
                    </div>
                </div>
            </div>
            <div class="col-3 bg-white text-dark">
                <div class="row align-items-center" style="height:25vh;">
                    <div class="col text-center">
                        <h2 class="h4">Heading 2</h2>
                        <p class="">The new Paragraph</p>
                    </div>
                </div>
            </div>
            <div class="col-6 bg-dark text-white">
                <div class="row align-items-center" style="height:25vh;">
                    <div class="col text-center">
                        <h2 class="">Heading 2</h2>
                        <p class="">The new Paragraph</p>
                    </div>
                </div>
            </div>
            <div class="col-3 bg-success text-white highlighted">
                <div class="row align-items-center" style="height:25vh;">
                    <div class="col text-center">
                        <h2 class="h4">Heading 2</h2>
                        <p class="">The new Paragraph</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>