<section>
    <div class="align-items-center bg-opacity-75 py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <div>
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <h{headingLevel} class="display-1 fw-bold text-uppercase">
                                    Heading
                                </h{headingLevel}>
                                <p>Paragraph</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>