<section>
    <div class="align-items-center bg-opacity-75">
        <div class="container">
            <div>
                <div class="d-flex">
                    <i class="fs-2 px-2 bi bi-activity "></i>
                    <span class="align-self-center">The First Item</span>
                </div>
            </div>
            <div>
                <div class="d-flex">
                    <i class="fs-2  px-2 bi bi-backpack"></i>
                    <span class="align-self-center">The Second Item</span>
                </div>
            </div>
        </div>
    </div>
</section>