<section>
    <div class="align-items-center bg-opacity-75">
        <div class="container">
            <div>
                <div class="d-flex">
                    <i class="fs-2 px-2 bi bi-activity "></i>
                    <span class="align-self-center"><h3>Lorem ipsum dolor sit amet</h3><p>Consectetur adipiscing elit. Nulla facilisi. Sed volutpat venenatis quam, sed gravida orci interdum ut. Fusce nec risus at odio consequat cursus. Vivamus luctus, orci et vestibulum scelerisque, lacus erat dictum odio, nec vestibulum libero augue sit amet nunc. Duis feugiat sem et velit suscipit, in pretium neque congue. Nullam ac neque a mi malesuada suscipit. Proin sit amet urna tincidunt, accumsan magna id, vehicula sapien.</p></span>
                </div>
            </div>
            <div>
                <div class="d-flex">
                    <i class="fs-2 px-2 bi bi-activity "></i>
                    <span class="align-self-center"><h3>Vivamus euismod</h3><p>Vivamus euismod, turpis at pellentesque laoreet, metus neque gravida arcu, nec convallis magna nulla in lorem. Nam eget tortor vel quam feugiat commodo. Etiam ullamcorper arcu vel nisi malesuada, at suscipit libero laoreet. Cras suscipit, leo sed congue posuere, purus felis varius odio, et tempor neque erat vel risus. Phasellus ut ligula turpis. Duis tempus dolor a diam gravida, nec elementum nulla interdum. Integer sed semper ligula, sit amet fermentum ligula. Quisque vehicula ligula vitae arcu dapibus, a consectetur lorem volutpat.</p></span>
                </div>
            </div>
        </div>
    </div>
</section>