<section id="{sectionID}" style="background-image: url('{BackgroundImage}')" class="cover-image">
    <div class="align-items-center bg-opacity-75 {backgroundColor} {textColor}">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-6" style="columns:2">
                    <ul id="list_{sectionID}"></ul>
                </div>
                <div id="listItemsDiv{sectionID}" style="display:none">{listItems}</div>
            </div>
        </div>
    </div>
</section>
