<section>
    <div class="align-items-center bg-opacity-75 bg-light text-dark">
        <div class="container">
            <div class="row align-items-center" style="min-height: 50vh;">
                <div class="col">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-8">
                            <h2 class="display-3 fw-bold text-uppercase">
                                Call to Action
                            </h2>
                            <p class="">Why should I Action</p>
                        </div>
                        <div class="col-12 col-md-4">
                            <a href="/contact" class="btn btn-custom-dark">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>