<section>
    <div class="vh-100" style="position: relative;width:100%; height: 100%; overflow: hidden;">
        <video autoplay="" muted="" class="object-fit-cover" repeat="" loop="loop" preload="auto">
            <source src="" type="video/mp4">
        </video>
        <div style="position: absolute; top:0px; left:0px;width:100%; height: 80%;">
            <div class="row align-items-center" style="height:100%">
                <div class="col">
                    <div class="container">
                        <div class="bg-light bg-opacity-50 rounded p-3">
                            <h1>Title</h1>
                            <p>Paragraph</p>
                            <div class="text-end"><a href="/contact" class="btn btn-custom-dark">Contact Us!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>