<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a href="/" id="brand" class="navbar-brand fw-bold">Site Title</a>
        <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul id="menuItems" class="navbar-nav mb-2 mb-lg-0 nav-pills ms-auto">
                <li id="template" class="nav-item py-2">
                    <a href="/" class="nav-link">Menu</a>
                </li>
                <li id="templateActive" class="nav-item bg-custom-dark px-2 rounded">
                    <a href="/" class="nav-link text-light ">Active</a>
                </li>
            </ul>
        </div>
    </div>
</nav>