<nav class="navbar navbar-expand-lg bg-custom-dark">
    <div class="container-fluid">
        <div>
            <div class="d-flex">
                <img src="">
                <a href="/" id="brand" class="navbar-brand fw-bold align-self-center text-light px-3">SiteTitle</a>
            </div>
        </div>
        <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

        <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul id="menuItems" class="navbar-nav mb-2 mb-lg-0 nav-pills mx-auto">
                <li id="template" class="nav-item">
                    <a href="/" class="nav-link text-light">Menu</a>
                </li>
                <li id="templateActive" class="nav-item rounded px-2 bg-custom-light">
                    <a href="/" class="nav-link text-dark">Active</a>
                </li>
            </ul>
        </div>
    </div>
</nav>